*{
margin: 0;
padding: 0;
box-sizing: border-box;
scroll-behavior: smooth;
}
html{
    font-size: 63.5%;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0rem;
}
/* ========================Resume Content Start===================== */

.resume{
    height: 100%;
    widows: 100%;
    padding: 1rem;
}
.download-resume{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:3rem;
    font-size: 2rem;
}
.download-resume > button{
    width:15%;
    padding: 0.5rem;
    background-color: #2666CF;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

/* ========================Resume Content End===================== */
